#game-canvas{
    border: 1px solid black;
}

#game-canvas.active{
    cursor: none;
}

#canvas-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.overlay{
    margin: 0 auto;
    position: absolute;
    top: 241px;
    padding: 20px 40px;  
    background: white;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#score-overlay{
    position: absolute;
    top: 20px;    
}

.hidden{
    display: none;
}